/* 批注：
		好的地方：1. 页面实现效果还行; 2. flex用法正确;  3. 布局正确
		有待改进：1. 页面class命名混乱; 2. 注意对于块级元素，display:block是默认值; 3. 可以对动画效果研究一下;  4. 建议看一下引入css的三种方式导致的css样式的权重问题
*/
* {
    margin: 0;
    padding: 0;
}
.top {
    box-sizing: border-box;
    /* 批注：此样式冗余，div的display默认为block */
    /* display: block; */
    background-color: #2f363d;
    margin-top: 100px;
}
.flex-main {
    /* 批注：此样式冗余，该样式用于ul上，设置ul中li的样式使用，此处不需要 */
    /* list-style: none; */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    max-width: 1280px;
}
.flex-main a{
    width: 30%;
    display: inline-block;

}
.flex-item{
    display: flex;
    flex-grow: 1;
    flex-shrink: 1;
    margin: 5px;
    height: 250px;
    border: 1px solid #000;
    position: relative;
   
}
.flex-main .col2{
    width: 40%;
}

.col-1 img{
    width: 100%;

}


.col-2 img{
    width: 100%;

}

.col-3 img{
    width: 100%;

}
.col-1-txt{
    z-index: 1;
    position: absolute;
    top: 57%;
    left: 10%;
    line-height: 1.25;
    font-size: 13px;
}
.col-2-txt{
    z-index: 1;
    position: absolute;
    top: 65%;
    left: 10%;
    line-height: 1.25;
    font-size: 13px;
    color:#fff;
}
.col-1-txt-h1{
    color:#000; 
}
.col-3-txt{
    z-index: 1;
    position: absolute;
    top: 57%;
    left: 10%;
    line-height: 1.25;
    font-size: 13px;
    color: #fff;

}
.col-3-bottom{
    background-color: #000;
    width: 100%;
}

.flex-item img:hover {
    transform: scale(1.03);
    -moz-transform: scale(1.03);
    -webkit-transform: scale(1.03);
    -o-transform: scale(1.03);
    -ms-transform: scale(1.03);
    border-radius: 0px;
    /* 批注：加上transition，可达到鼠标移入的渐变效果 */
    transition: all 0.5s;
    -moz-transition: all 0.5s;
    -webkit-transition: all 0.5s
}

/* 批注：加上transition，可达到鼠标移出渐变效果 */
.flex-item img {
    transition: transform .3s;
}


.bottom{
    margin: 20px auto;
    max-width: 1280px;
    overflow: auto;
    border: 1px solid #ddd;
    padding: 10px;
    /* white-space: nowrap; */
    display: flex;
    flex-wrap: nowrap;
}
.flex-item-li {
    display: inline-block;
    height: 230px;
    border: 1px solid rgb(234, 236, 239);;
    width: 260px;
    flex-shrink: 0;
    margin-left: 15px;
    padding: 16px;
}

a{
    color: #0366d6;
    text-decoration: none;
    background-color: initial;
}
.f4{
    font-size: 16px;
}
.text-gray {
    margin-top: 10px;
    color: #586069 ;
    font-size: 14px;
}
.f6{
    font-size: 12px;
    margin-top: 10px;
} 
.mr-4{
    margin-left: 5px;
}  
.flex-item-li-more{
    display: inline-block;
    height: 230px;
    width: 260px;
    flex-shrink: 0;
    margin-left: 10px;
    padding: 16px;
 
}
.pl-3{
    display: inline-block;
    padding-top: 50%;
}