* {
    margin: 0px;
    padding: 0px;
    font-size: 12px;
    font: 12px arial;
}
:focus {
    outline: -webkit-focus-ring-color auto 0;
}
input:focus, textarea:focus, select:focus {
    outline-offset: 0;
}
html, body {
    height: 100%;
}
.clearfix:after {
    content: "";
    display: block;
    height: 0;
    line-height: 0;
    clear: both;
    visibility: hidden;
}
.fr {
    float: right;
}
.fl {
    float: left;
}
.top ul {
    margin-right: 20px;
    margin-top: 15px;
}
.top li {
    list-style-type: none; 
    display: inline-block;
    margin-left: 25px;
}
.top li a {
    color: #333;
    font-weight: 700;
    line-height: 24px;
    font-size: 13px;
    text-decoration: underline;
    display: inline-block;
}
.top .more {
    height: 23px;
    color: #fff;
    background: #38f;
    line-height: 24px;
    font-size: 13px;
    text-align: center;
    overflow: hidden;
    border-bottom: 1px solid #38f;
    margin-left: 10px;
    margin-right: 20px;
    text-decoration: none;
    padding: 0 5px;
    margin-top: 15px;
}
.middle {
    text-align: center;
}

.inpt-span {
    display: inline-block;
    position: relative;
}
.inpt {
    height: 30px;
    width: 485px;
    line-height: 30px;
    border: 1px solid #b6b6b6;
    padding: 2px 40px 2px 10px;
}
.inpt:focus {
    border: 1px solid #2d78f4;
}
.inpt-btn{
    background-image:  url(camera_new_5606e8f.png) no-repeat;
}
.inpt-submit{
    width: 100px;
    height: 36px;
    color: #fff;
    font-size: 15px;
    letter-spacing: 1px;
    background: #3385ff;
    border: 1px solid #2d78f4;
    outline: medium;
    -webkit-appearance: none;
    -webkit-border-radius: 0;
    margin-left: -4px;
    top: 2px;
    position: relative;
    cursor: pointer;
}
.middle-span{
    margin-top: 10px;
}
.middle {
    margin: 5% auto 17%;
}


.bottom {
    text-align: center;
}


.inpt-btn {
    background: url(camera_new_5606e8f.png) no-repeat;
    display: inline-block;
    width: 25px;
    height: 18px;
    position: absolute;
    right: 0;
    top: 9px;
    cursor: pointer;
}
.bottom-zbios{
    background:  url(zbios_efde696.png) no-repeat;
    display: inline-block;
    width: 60px;
    height: 60px;
    cursor: pointer;

}
.zbios-text{
    color: #666;
    font-weight: 700;

}

.bottom li{
    text-align: center;
    list-style-type:none;  
    display: inline-block;
    margin-left: 10px;

}
.bottom-text{
    text-align: center;
    margin-top: 20px;
}
.bottom li a{
    text-align: center;
    cursor: pointer;
    text-decoration: underline;
    color: #999;
    display: inline;
    font: 12px arial;
    margin-left: 10px;
}
.c-icon-icrlogo{
    width: 14px;
    height: 17px;
    display: inline-block;
    overflow: hidden;
    background: url(icons_5859e57.png) no-repeat;
    background-position: -600px -96px;
    position: relative;
    top: 3px;
   
}
.c-icon-jgwablogo{
    width: 14px;
    height: 17px;
    display: inline-block;
    overflow: hidden;
    background: url(icons_5859e57.png) no-repeat;
    background-position: -623px -96px;
    position: relative;
    top: 3px;
  
}
.bottom-txt{
    color: #999;
    font: 12px arial;
}
.bottom-txt a{
    text-align: center;
    cursor: pointer;
    text-decoration: underline;
    color: #999;
    display: inline;
    font: 12px arial;
}
.bottom-bah{
    margin-left: 10px;
}
.bottom-bz{
    margin-top: 5px;
}