    .baidu-hearder{  
        color:#fff;
        position:absolute;
        right:0;
        top:0;
        padding:0 70px 0 0;
    }
    .baidu-hearder ul li{
        list-style: none;
        float: left;
        line-height: 24px;
        margin-left: 20px;
        text-decoration:underline;
    }
    .baidu-hearder ul>li>a{
        color: #333;
        font-weight: 700;
        font-size: 13px;
    }
    .more-product{
        position: absolute;
        right: 10px;
        width: 60px;
        height: 23px;
        float: left;
        color: #fff !important;
        background: #3385ff;
        line-height: 24px;
        text-align: center;
        border-bottom: 1px solid #38f;
        margin-left: 19px;
        text-decoration: none;
    }
    .baidu-main{
        text-align: center;
        width: 100%;
        height: 400px;
        padding-top: 100px;
    }
    .baidu-main-logo{
        width: 270px;
        height: 129px;
        margin-top: 30px;
    }
    .baudu-footer{
        text-align: center;
        width: 100%;
    }
    .baudu-footer-code{
        display: block;
    }
    .baudu-footer-code span{
        display:block;
        font: 12px arial;
        color: #666;
        font-weight: 700;
    }
    .baudu-footer ul li{
        color: #999;
        font: 12px arial; 
    }
    .baudu-footer ul a{
        color: #999;
        font: 12px arial; 
    }
    .setHomePage{
        display: flex;
        justify-content: center;
        margin-bottom: -30px;
    }    
    .mustToRead{
        display: flex;
        justify-content: center;
    }
    .baudu-footer li{
        list-style: none;
        margin-left: 20px;
        text-decoration: none;
    }
    .mustToRead a{
        margin-left: 3px;
        margin-right: 3px;
    }
    .baidu-main-search input[type=text]{
        border: 1px solid #b6b6b6;
        background: #fff;
        display: inline-block;
        vertical-align: top;
        width: 539px;
        height: 34px;
        border-color: #b8b8b8 #ccc #ccc #b8b8b8;
        overflow: hidden;
    }
    .baidu-main-search input[type=button]{
        width: 100px;
        height: 36px;
        color: #fff;
        font-size: 15px;
        letter-spacing: 1px;
        background: #3385ff;
    }
    input {
        border: 0;
        padding: 0;
    }