html,
body {
	height: 100%;
	/* 批注: body 自带 margin: 8px; */
	margin: 0;
}

body {
    /* font-weight: normal; 冗余 */
    /* font-size: 12px; 冗余 */
    /* line-height: normal; 冗余 */
	font: 12px arial; /* 这一行相当于：font-size:12px; font-family:arial; */
}

ul {
	/* 批注: ul 自带 padding-left: 40px */
	padding: 0;
}

.box{
	min-width: 810px;
    height: 100%;
    min-height: 600px;
}
/* 批注: 解读浮动闭合最佳方案: http://www.daqianduan.com/3606.html */
.clearfix:after {
	content: "";
	display: block;
	height: 0;
	line-height: 0;
	clear: both;
	visibility: hidden;
}

/* 批注: 用 .baidu-hearder-ul 替换 .baidu-hearder ul 。class选择器比标签选择器更高效。 */
.baidu-hearder-ul {
	float: right;
	margin: 19px 10px 5px 0;
}

.baidu-hearder ul li {
	display:inline-block;
	float: left;
	margin-left: 20px;
	font-weight: 700;
	line-height: 24px;
	font-size: 13px;
}

.baidu-hearder ul li a {
	color: #333;
	text-decoration: underline;
}

.baidu-hearder-ul .bri {
	display: inline-block;
	width: 60px;
	/* 批注：height和line-height一致，可让元素垂直居中。 */
	height: 24px;
	line-height: 24px;
	color: white;
	background: #38F;
	text-align: center;
	text-decoration:none;
}

.baidu-main{
	text-align: center;
    padding-top: 150px;
	
}

.baidu-main-search {
	position: relative;
    margin-top: 20px;
	
}
.baidu-main-search span{
	position: relative;
	/* 批注：inline元素不能自适应高度，会导致容器的内容溢出。 */
	display: inline-block;
	
}
.baidu-main-search input[type=text]{
	width: 530px;
    height: 32px;
    line-height: 32px;
	outline:none;
	padding-left:8px;
	
}
.baidu-main-search input[type=button]{
	background: #38f;
    border: 1px solid #38f;
    color: #fff;
    margin-left: -6px;
    height: 38px;
    line-height: 29px;
    width: 100px;
    cursor: pointer;
	
}
.baidu-main-search input[type=text]:focus{
    border: 2px solid #38f;
    border-color: #38f;


}

.baudu-footer-code{
	text-align: center;
    margin-top: 354px;
	
}
.baudu-footer-code span{
	display: block;
    color: #666;
	font-weight: 700;
}
.setHomePage{
	text-align: center;
}
.setHomePage li {
    display: inline;
    margin-left: 20px;
}
.setHomePage li>a {
    color: #999;
}
.mustToRead{
	text-align: center;
	display: block;
    
}
.mustToRead li {
    color: #999;
    display: inline;
    margin-left: 35px;
    position: relative;
	
}
.mustToRead li>a {
    color: #999;
}

#soutu-btn{
	background: url(../images/camera.png) no-repeat 0 0;
    z-index: 1;
    position: absolute;
    right: 109px;
    top: 50%;
    margin-top: -8px;
    height: 16px;
    width: 18px;
    cursor: pointer;
	
}
#soutu-btn:hover{
	background: url(../images/camera.png) no-repeat 0 0;
	background-position: 0px -20px;
}

.code-foot-img1{
	background: url(../images/icons_5859e57.png) no-repeat 0 0;
	width: 14px;
    height: 17px;
    display: inline-block;
    overflow: hidden;
	background-position: -600px -96px;
	position: relative;
    top: 3px;
}

.code-foot-img2{
	background: url(../images/icons_5859e57.png) no-repeat 0 0;
	width: 14px;
    height: 17px;
    display: inline-block;
    overflow: hidden;
	background-position: -623px -96px;
	position: relative;
    top: 3px;
}

