* {
    margin: 0px;
    padding: 0px;
    font-size: 12px;
    font: 12px arial;
}
/* 批注: 格式化浏览器默认样式 */
:focus {
    outline: -webkit-focus-ring-color auto 0;
}
input:focus, textarea:focus, select:focus {
    outline-offset: 0;
}
html, body {
    height: 100%;
}
/* 批注: 解读浮动闭合最佳方案: http://www.daqianduan.com/3606.html */
.clearfix:after {
    content: "";
    display: block;
    height: 0;
    line-height: 0;
    clear: both;
    visibility: hidden;
}
.fr {
    float: right;
}
.fl {
    float: left;
}
.top {
    /* 批注: 此处不需要浮动 */
    /* float: right; */
    /* margin-top: 15px; */
}
.top ul {
    margin-right: 20px;
    margin-top: 15px;
}
.top li {
    list-style-type: none; 
    /* 批注: 此处将display设置为 inline-block, 即可实现li在同一行显示的效果 */
    display: inline-block;
    /* 批注: 此处的样式冗余，没必要设置浮动 */
    /* float: left; */
    margin-left: 25px;
}
.top li a {
    /* 批注: 此处的样式冗余，没必要设置浮动 */ 
    /* float: left; */
    color: #333;
    font-weight: 700;
    line-height: 24px;
    /* 批注: 此处的样式冗余 */ 
    /* margin-left: 20px; */
    font-size: 13px;
    text-decoration: underline;
    /* 批注: 若想要line-height生效，则需要将内联元素设置为行内块元素 */ 
    display: inline-block;
}
.top .more {
    /* 批注: 绝对定位和浮动同时使用的时候，浮动不生效 */ 
    /* position: absolute; */
    /* right: 10px; */
    /* width: 60px; */
    height: 23px;
    /* 批注: 此处的样式冗余 */ 
    /* float: left; */
    color: #fff;
    background: #38f;
    line-height: 24px;
    font-size: 13px;
    text-align: center;
    overflow: hidden;
    border-bottom: 1px solid #38f;
    margin-left: 10px;
    margin-right: 20px;
    /* 批注: 下边为添加的样式，为了好看 */ 
    text-decoration: none;
    padding: 0 5px;
    margin-top: 15px;
}
/* 对元素容器定位：absolute*/
/*
.middle .middle-img {
    border: 1px solid #000000;
    text-align: center;
    position: absolute;
    top:50%;
    left:0;
    right: 0;
    transform: translateY(-50%)
} */
/* 
.middle .middle-img {
    position: absolute;
    top:0;
    left:0;
    right: 0;
    bottom:0; 
    display:  flex;
    justify-content: center;
    align-items: center;

} */
.middle {
    /* 批注: 此处不建议使用绝对定位，这样会使元素脱离文档流 */ 
    text-align: center;
    /* position: absolute;
    top:30%;
    left:0;
    right: 0; 
    transform: translateY(-50%); */
}

/* 对元素本身定位 */
/*
.middle .middle-img img{
    border: 1px solid #000000;
    text-align: center;
    position: absolute;
    top:0;
    left:0;
    right: 0;
    bottom:0;
    margin:auto;
}
*/
.inpt-span {
    /* border: 1px solid #b6b6b6; */
    /* 批注: 样式冗余 */ 
    /* border-color: #7b7b7b #b6b6b6 #b6b6b6 #7b7b7b;
    background: #fff; */
    display: inline-block;
    /* 批注: 样式冗余 */ 
    /* vertical-align: top; */
    /* 批注: 样式冗余，在input元素上定义border即可 */ 
    /* border: 1px solid #b6b6b6; */
    /* 批注: 此处不建议设置宽度，由内部子元素撑开即可 */ 
    /* width: 539px; */
    /* 批注: 样式冗余 */ 
    /* margin-right: 0; */
    /* border-right-width: 0; */
    /* border-color: #b8b8b8 transparent #ccc #b8b8b8; */
    /* 批注: 样式冗余 */ 
    /* overflow: hidden; */
    /* 批注: 此处不建议设置高度，由内部子元素撑开即可 */ 
    /* height: 38px; */
    position: relative;
}
.inpt {
    height: 30px;
    width: 485px;
    /* border-color: #7b7b7b #b6b6b6 #b6b6b6 #7b7b7b; */
    line-height: 30px;
    border: 1px solid #b6b6b6;
    /* 批注: 此处建议添加padding值，尤其是右侧的padding值，效果：输入的字符不能与图标重叠 */ 
    padding: 2px 40px 2px 10px;
}
.inpt:focus {
    border: 1px solid #2d78f4;
}
.inpt-btn{
    background-image:  url(camera_new_5606e8f.png) no-repeat;
}
.inpt-submit{
    width: 100px;
    height: 36px;
    color: #fff;
    font-size: 15px;
    letter-spacing: 1px;
    background: #3385ff;
    border: 1px solid #2d78f4;
    outline: medium;
    /* 批注: 样式冗余 */
    /* border-bottom: 0; */
    -webkit-appearance: none;
    -webkit-border-radius: 0;
    margin-left: -4px;
    /* 批注: 下边为添加的样式，为了好看 */ 
    top: 2px;
    position: relative;
    cursor: pointer;
}
.middle-span{
    margin-top: 10px;
}
/* 批注: 此处的样式是为了保证在不同屏幕大小的情况下，显示相同的效果 */
.middle {
    margin: 5% auto 17%;
}


.bottom {
    /* 批注: 此处不建议使用绝对定位，这样会使元素脱离文档流 */ 
    text-align: center;
    /* position: absolute;
    top:85%;
    left:0;
    right: 0;
    transform: translateY(-50%) */
}


.inpt-btn {
    background: url(camera_new_5606e8f.png) no-repeat;
    display: inline-block;
    width: 25px;
    height: 18px;
    position: absolute;
    right: 0;
    top: 9px;
    cursor: pointer;
}
.bottom-zbios{
    background:  url(zbios_efde696.png) no-repeat;
    display: inline-block;
    width: 60px;
    height: 60px;
    cursor: pointer;

}
.zbios-text{
    color: #666;
    font-weight: 700;

}

.bottom li{
    text-align: center;
    list-style-type:none;  
    display: inline-block;
    margin-left: 10px;

}
.bottom-text{
    text-align: center;
    margin-top: 20px;
}
.bottom li a{
    text-align: center;
    cursor: pointer;
    text-decoration: underline;
    color: #999;
    display: inline;
    font: 12px arial;
    margin-left: 10px;
}
.c-icon-icrlogo{
    width: 14px;
    height: 17px;
    display: inline-block;
    overflow: hidden;
    background: url(icons_5859e57.png) no-repeat;
    background-position: -600px -96px;
    position: relative;
    top: 3px;
   
}
.c-icon-jgwablogo{
    width: 14px;
    height: 17px;
    display: inline-block;
    overflow: hidden;
    background: url(icons_5859e57.png) no-repeat;
    background-position: -623px -96px;
    position: relative;
    top: 3px;
  
}
.bottom-txt{
    color: #999;
    /* display: inline; */
    font: 12px arial;
}
.bottom-txt a{
    text-align: center;
    cursor: pointer;
    text-decoration: underline;
    color: #999;
    display: inline;
    font: 12px arial;
}
.bottom-bah{
    margin-left: 10px;
}
.bottom-bz{
    margin-top: 5px;
}