html,
body {
    height: 100%;
    /* 批注: body 自带 margin: 8px; */
    margin: 0;
}

body {
    font: 12px arial; /* 设置全局字体 */
}

.box {
	min-height: 600px;
    height: 100%;
    min-width: 810px;
    position: relative;
}
.baidu-hearder {
	position: absolute;
	font-size: 13px;
	top: 0;
    right: 40px;
    /*批注: 宽度不用写死*/
	/*width: 600px; 冗余*/
	text-align: right;
    color: #999;
}
.baidu-hearder ul li {
	position: relative;
	list-style-type:none;
	line-height: 23px;
    margin-left: 19px;
    color: #555;
	font-size: 13px;
	display: inline-block;
}

.baidu-hearder ul li a {
    color: #555;
}
.baidu-hearder .baidu-more {
	background-color: #38f;
	width: 64px;
    text-align: center;
}
.baidu-hearder  .baidu-more a {
	color: #fff;
}
.baidu-main {
    position: relative;
    width: 100%;
    /*height: 100%; 冗余*/
    top: 150px;
    min-height: 550px;
    /*margin: 0px auto; 冗余*/
    /*text-align: left; 冗余*/
    /*overflow: hidden; 冗余*/
    /*批注: 不需要浮动*/
    /*float: left; 冗余*/
}
.baidu-main-logo {
	/*position: relative; 冗余*/
    width: 270px;
    height: 129px;
    margin: 0 auto 24px auto;
    display: block;
}
.baidu-main-search {
	position: relative;
	margin: 0 auto;
    display: block;
    width: 593px;
	height: 38px;
}
.baidu-main-search input[type="text"] {
	float: left;
	width: 479px;
	height: 34px;
	line-height: 34px;
	padding-left:10px;
    font: 16px arial;
    border: 1px solid #b8b8b8;
    border-bottom: 1px solid #ccc;
    border-right: 0;
    /*vertical-align: top; 冗余*/
    /*outline: none; 冗余*/
    /*box-shadow: none; 冗余*/
}

.soutu-btn {
    /*批注: 不需要设置层级*/
	/*z-index: 1; 冗余*/
    position: absolute;
	right: 115px;
	top: 10px;
    height: 16px;
    width: 18px;
    background: #fff url(../images/camera.png) no-repeat;
    /* 批注： -webkit-image-set可以根据用户设备的分辨率匹配合适的图像，用于移动端居多*/
    /*background-image: -webkit-image-set(url(../images/camera.png) 1x,url(../images/camera.png) 2x);*/
	cursor: pointer;
}

.baidu-main-search input[type="button"] {
	cursor: pointer;
    width: 102px;
    height: 38px;
    line-height: 38px;
    padding: 0;
    border: 0;
    background: none;
    background-color: #38f;
    font-size: 16px;
    color: white;
    box-shadow: none;
    font-weight: normal;
}
.baudu-footer {
	position: relative;
	/*float: left; 冗余*/
	top: 150px;
    color: #999;
    /*font-size: 12px; 冗余*/
    /*width: 100%; 冗余*/
    height: 160px;
    margin: 0 auto;
}

.baudu-footer-code {
    /*position: relative; 冗余*/
    /*float: left; 冗余*/
    /*color: #999; 冗余*/
    /*font-size: 12px; 冗余*/
    /*width: 100%; 冗余*/
    height: 100px;
    /*margin: 0 auto; 冗余*/
}

.baudu-footer-code span{
	height: 60px;
    width: 60px;
	background: url(../images/code.png) 0 0 no-repeat;
	display: block;
	line-height: 150px;
	margin: 0 auto;
	text-align: center;
	font-weight: bold;
	color: #555;
}
.baudu-footer ul li {
	position: relative;
	list-style-type:none;
	line-height: 32px;
    margin-left: 19px;
	display: inline-block;
}
.baudu-footer ul li a {
	color: #999;
}
.setHomePage, .mustToRead {
	/*width: 98%; 冗余*/
	height: 22px;
	/*float: left; 冗余*/
	margin: 0 auto;
	line-height: 22px;
	text-align: center;
}