
/* 新加的 把默认input textarea的focus效果去掉 */
:focus{outline:0;}

.baidu-hearder{
	/* _height:1% ie兼容模式 不建议加 */
	/* overflow:auto;_height:1% */
	overflow:auto;
}

.baidu-hearder ul{
	float:right;
	height:30px;
}
.baidu-hearder ul li{
	display:inline;
	margin-right: 20px;
}
.baidu-hearder ul li a{
	font-size:13px;
	text-align:center;
	color:#333;
	font-weight:bold;
}
/* 加margin-right:0 最后一个margin-right:20px 去掉 */
.baidu-hearder ul li:last-child{
	background-color:#38f;
	padding:0 5px;
	margin-right: 0px;
}
.baidu-hearder ul li:last-child a{
	color:#f9f9f9;
}

.baidu-main{
	text-align:center;
	margin:6% auto 18%;
}

.baidu-main-logo{
	weight:270px;
	height:130px;
}
/* 新加的 替换 .baidu-main-search input:first-child*/
.baidu-input-text{
	width:500px;
	height:30px;
	border: 1px solid #b6b6b6;
	border-right: 0px;
	padding: 0px 6px;
}
/* 新加的 focus 效果 */
.baidu-input-text:focus{
	border:1px solid #4791ff;
	border-right:0px;
}

/* .baidu-main-search input:first-child{
	width:500px;
	height:30px;
} */
/* 新加的 替换 .baidu-main-search input:last-child*/
.baidu-input-button{
	width:110px;
	height:32px;
	margin-left:-6px;
	background: #3385ff;
    border: 1px solid #2d78f4;
	cursor:pointer;
	font-size: 14px;
	color:#fff;
}
/* 
.baidu-main-search input:last-child{
	width:110px;
	height:35px;
	margin-left:-5px;
	background: #3385ff;
    border: 1px solid #2d78f4;
	cursor:pointer;
} */

.baidu-main-search-span{
	position:relative;
	display:inline-block;
}
/* 引入图片 camera_new_5606e8f.png 格式名称 最好规范化*/
.baidu-main-search-icon{
	background: url(camera_new_5606e8f.png) no-repeat;
    width: 25px;
    height: 18px;
    position: absolute;
    right: 0;
    top: 9px;
}
/* margin的距离调整 */
.baudu-footer{
	text-align:center;
	/* margin:6% auto 18%; */
	font:12px arial;
	color:#999;
}
/* 引入图片 camera_new_5606e8f.png 格式名称 最好规范化*/
.baudu-footer-code-zbios{
	background:  url(zbios_efde696.png) no-repeat;
    display: inline-block;
    width: 60px;
    height: 60px;
}

.baudu-footer ul li{
	display:inline-block;
	margin-left:10px;
}

.baudu-footer ul li a{
	color:#999;
}
/* 引入图片 camera_new_5606e8f.png 格式名称 最好规范化*/
.c-icon-jgwablogo{
	width: 15px;
    height: 17px;
    display: inline-block;
    background: url(icons_5859e57.png) no-repeat;
    background-position: -623px -96px;
    position: relative;
    top: 3px;
}

.baidu-title{
	display:block;
}


